@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
    box-sizing: border-box;
}
:root{
    --primary: #064E3B;
    --secondary: #D1FAE5;
    --width-break:600px;
}

body{
    margin: 0px;
    color: #D1FAE5;
    font-family: 'Zen Dots',cursive;
}

nav{
    background-color: var(--primary);
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    border-bottom-right-radius: 15px;
}

main{
    max-width: var(--width-break);
    margin: auto;
    color: var(--primary);
}

textarea{
    width: 100%;
    height: 20vh;
    margin: 2rem 0rem;
    font-family: inherit;
    font-size: large;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-bottom-right-radius: 15px;
}

#btn{
    text-align: center;
    padding: 0rem 2rem;
    margin-bottom: 2rem;
}

button{
    margin: 1rem;
    padding: 1rem 2rem;
    background-color: var(--primary);
    font-family: inherit;
    border: none;
    border-radius: 5px;
    color: var(--secondary);
    font-size: large;
    font-weight: strong;
    box-shadow:5px 5px 5px#8e9795 ;
}

#translate{
    margin-right: 2rem;
}


#output{
    border: 1px solid black;
    min-height: 10vh;
    width: 100%;
    overflow: scroll;
    margin-bottom: 2rem;
    /* margin: 2rem 0rem; */
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--primary);
    text-align: center;
    border-top-left-radius: 15px;
}
footer p{
    max-width: var(--width-break);
    text-align: center;
    margin: auto;
    font-size: large;
    padding-bottom: 1rem;
}